extends layout

block content
  p.
    The node.js server code running opensets.org can be found at
    <a href="https://github.com/stuartpb/opensets.org">
    https://github.com/stuartpb/opensets.org</a>. That is also the place for
    technical support, via
    <a href="https://github.com/stuartpb/opensets.org/issues">the issue
    tracker</a>.
  p.
    opensets.org is a Stuart P. Bentley production. Stuart can be found on
    <a href="https://github.com/stuartpb">GitHub</a> or
    <a href="https://www.facebook.com/stuartpb">Facebook</a>, or emailed at
    <a href="mailto:stuart@testtrack4.com">stuart@testtrack4.com</a>.
